<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="last.project.store.mapper.MenuimgMapper">
    
    <insert id="insertAll" parameterType="MenuimgVo">
        insert into menuimg values(#{mseq},#{mimg})
    </insert>

</mapper>