<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="last.project.store.mapper.OrderListMapper">
    <select id="selectAll" resultType="OrderListVo" parameterType="String">
        select * from orderlist where scode = #{scode}
    </select>

    <select id="selectAll2" resultType="OrderListVo" parameterType="String">
        select mname1, mname2, mname3, mname4, mname5, mname6, mname7, mname8, mname9, mname10,
        sum(olcount1), sum(olcount2), sum(olcount3), sum(olcount4), sum(olcount5), 
        sum(olcount6), sum(olcount7), sum(olcount8), sum(olcount9), sum(olcount10),
        sum(mprice1), sum(mprice2), sum(mprice3), sum(mprice4), sum(mprice5),
        sum(mprice6), sum(mprice7), sum(mprice8), sum(mprice9), sum(mprice10)
        from orderlist 
        group by mname1,mname2,mname3,mname4,mname5,mname6,mname7,mname8,mname9,mname10
    </select>

    <select id="select1" resultType="java.util.HashMap" parameterType="String">
        select  kid, mname1, mname2, mprice1, mprice2, olcount1, olcount2, oldate,
        oseq, ospot,ostate, scode, sname from orderlist where scode = #{scode}
    </select>
    <insert id="insertBy1" parameterType="OrderListVo">
        insert into orderlist (oseq,scode,mname1,olcount1,oldate,ospot,sname,mprice1,ostate,kid)
        values(O_SEQ.NEXTVAL,#{scode},#{OrdetestVo.mname},#{olcount1},sysdate,#{ospot},#{sname},#{OrderListVo.mprice},#{ottate},#{kid})
    </insert>

    <insert id="insertBy2" parameterType="OrderListVo">
        insert into orderlist (oseq,scode,mname1,mname2,olcount1,olcount2,oldate,ospot,sname,mprice1,mprice2,ostate,kid)
        values(O_SEQ.NEXTVAL,#{scode},#{mname[0].value}
        ,#{mname[1].value},
        #{olcount[0].value,jdbcType=VARCHAR},
        #{olcount[1].value,jdbcType=VARCHAR},sysdate,#{ospot},#{sname},
        #{mprice[0].value,jdbcType=VARCHAR},#{mprice[1].value,jdbcType=VARCHAR}
        ,default,#{kid})
    </insert>

    <insert id="insertByTest" parameterType="OrderListVo">
        insert into  orderlist (oseq,scode,mname1,mname2,olcount1,olcount2,oldate,ospot,sname,mprice1,mprice2,ostate,kid)
        values (O_SEQ.NEXTVAL,#{scode},
        <foreach collection="mname" item="mname" index="index"  separator=",">
            #{mname,jdbcType=VARCHAR}
        </foreach>
        ,
        <foreach collection="olcount" item="olcount" index="index" separator=",">

    
        
            #{olcount,jdbcType=VARCHAR}
        </foreach>
        ,sysdate,#{ospot},#{sname},
        <foreach collection="mprice" item="mprice" index="index" separator=",">
            #{mprice,jdbcType=VARCHAR}
        </foreach>
        ,default,#{kid})
    </insert>

    <insert id="insertBy3" parameterType="OrderListVo">
        insert into  orderlist (oseq,scode,mname1,mname2,mname3,olcount1,olcount2,olcount3,oldate,ospot,sname,mprice1,mprice2,mprice3,ostate,kid)
        values (O_SEQ.NEXTVAL,#{scode},
        <foreach collection="mname" item="mname" index="index"  separator=",">
            #{mname,jdbcType=VARCHAR}
        </foreach>
        ,
        <foreach collection="olcount" item="olcount" index="index" separator=",">
            #{olcount,jdbcType=VARCHAR}
        </foreach>
        ,sysdate,#{ospot},#{sname},
        <foreach collection="mprice" item="mprice" index="index" separator=",">
            #{mprice,jdbcType=VARCHAR}
        </foreach>
        ,default,#{kid})
    </insert>
        
    <update id="updateByOseq" parameterType="long" >
        update orderlist set ostate=2 where oseq=#{oseq}
    </update>

    <update id="updateCancel" parameterType="long">
        update orderlist set ostate=4 where oseq=#{oseq}
    </update>
</mapper>