<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="last.project.store.mapper.ReviewimgMapper">

    <insert id="insertAll" parameterType="ReviewimgVo">
        insert into reviewimg(rseq,rimg) values(#{rseq},#{rimg})
    </insert>

</mapper>